# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project
logs/
cache/
sqlmap_results/
configs/*.json
!configs/default.json

# SQLMap
sqlmap/

# Build
*.spec
build/
dist/

# Misc
.DS_Store
Thumbs.db 